<h1>Postagens</h1>
                <section>
                    <article>
                        <header>
                            <h2><a href="#">Título da minha postagem</a></h2>
                        </header>

                        <p>Conteudo da minha postagem</p>
                    </article>

                    <article>
                        <header>
                            <h2><a href="#">Título da minha postagem</a></h2>
                        </header>

                        <p>Conteudo da minha postagem</p>
                    </article>

                    <article>
                        <header>
                            <h2><a href="#">Título da minha postagem</a></h2>
                        </header>

                        <p>Conteudo da minha postagem</p>
                    </article>

                    <article>
                        <header>
                            <h2><a href="#">Título da minha postagem</a></h2>
                        </header>

                        <p>Conteudo da minha postagem</p>
                    </article>
                </section>
            </div>